
Code/.ipynb_checkpoints/supervise-checkpoint.ipynb
Code/anaylser_csv.ipynb
Code/RandomForest_BestModel_08246.joblib
Best Models/models_MARTINEZ_ZHU/RandomForest_BestModel_08246.joblib
Best Models/Resultats_MARTINEZ_ZHU.zip
Code/RandomForet.ipynb
